@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Roboto:wght@300;400;700&display=swap');

:root {
  --font-black: #202124;
  --font-gray: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Display', sans-serif;
}

main {
  width: 100%;
  max-width: 1120px;
  height: 100vh;

  color: var(--font-black);

  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

aside {
  background: rgba(204, 204, 204, 0.452);
  width: 500px;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid var(--font-black);
  width: 350px;
  height: 40px;
  outline: none;
  padding: 0.75rem;
}

form {
  display: flex;
  flex-direction: column;
  width: max-content;
}

button {
  margin: 0.5rem 0;

  width: 350px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--font-black);
  cursor: pointer;
}

section {
  position: relative;
  content: '';
}

img {
  margin: 2rem 0;
  width: 500px;
  height: auto;
}

#tag {
  position: relative;
  text-transform: capitalize;
  border-radius: 8px;
  background: #fff;
  padding: 0.3rem;
  top: 5rem;
  left: 1rem;
  width: fit-content;
}


@media (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
  }
}